.font {
	FONT-SIZE: 12px; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
.font_endling {
	FONT-SIZE: 12px; LINE-HEIGHT: 23px; BORDER-BOTTOM: #dce0e7 1px solid; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
.Rtd A:link {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.Rtd A:visited {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.Rtd A:hover {
	COLOR: #ff0000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.Rtd A:active {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt;   TEXT-DECORATION: none
}
.TextFont12 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000;   TEXT-DECORATION: none
}
.Input {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #cccccc 1px solid;   TEXT-DECORATION: none
}
.p10 {
	FONT-SIZE: 10pt; LINE-HEIGHT: 180%;   TEXT-DECORATION: none
}
.p9 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 180%;   TEXT-DECORATION: none
}
.ProFont {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006600; FONT-FAMILY: "Verdana", "Arial", ; TEXT-DECORATION: none
}
.TextFontGray {
	FONT-SIZE: 9pt; COLOR: #999999; LINE-HEIGHT: 180%;   TEXT-DECORATION: none
}
.relative {
	POSITION: relative
}
.SaleFont9 {
	FONT-SIZE: 9pt; COLOR: #ff3300; LINE-HEIGHT: 160%; 
}
.p10:hover {
	FONT-SIZE: 10pt; COLOR: #ff9900;   TEXT-DECORATION: none
}
.dashed {
	BORDER-RIGHT: #999999 1px dashed; BORDER-TOP: #999999 1px dashed; BORDER-LEFT: #999999 1px dashed; BORDER-BOTTOM: #999999 1px dashed
}
.999cent {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 22px; 
}
.999tiaoli {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; 
}
.about {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; 
}
.infoitem {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #006600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ו"
}
.infodir {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #009900; LINE-HEIGHT: 20px; 
}
.infoconcent {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 24px; 
}
.releasecontent {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 24px; 
}
.releasecen {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; 
}
.heath {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 24px; 
}
.style1 {color: #000000}